.video-name {
  margin: 35px 25px 35px 25px;
  font-size: 18px;
  font-weight: 600;
  text-overflow: ellipsis;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  color: var(--blue);
  @media screen and (max-width: 770px) {
    margin: 25px 0;
    padding: 0 5px;
  }
}
.video-player {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 756px;
  aspect-ratio: 16/9;
  background-color: #000;
  border-radius: 15px;
  overflow: hidden;
  @media screen and (max-width: 770px) {
    max-width: 95%;
    margin: 5px;
    border-radius: 5px;
  }
  video {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
    &::-webkit-media-controls-enclosure {
      display: none !important;
    }
    &::-webkit-media-controls {
      display: none !important;
    }
  }
  // &:hover .controllers {
  //   opacity: 1;
  //   &:hover .seek-bar {
  //     bottom: 20px;
  //   }
  // }
  .controllers {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 300ms ease-in-out;
    z-index: 2147483647;
    .play-pause {
      top: 0;
      left: 0;
      background: none;
      border: none;
      cursor: pointer;
      z-index: 2;
      &:focus {
        outline: none;
        border: none;
      }
    }
    .fullscreenbtn {
      position: absolute;
      width: 100%;
      height: 100%;
      border: none;
      background: none;
      top: 0;
      left: 0;
      z-index: 1;
    }
    .seek-bar {
      position: absolute;
      bottom: 20px;
      width: 95%;
      z-index: 3;
      transition: all 300ms ease-in-out;
      accent-color: rgba(255, 255, 255, 1);
      &::-webkit-slider-thumb {
        transform: scale(2.5);
        filter: brightness(100) grayscale(100) contrast(100) drop-shadow(0 0 5px rgba(0, 0, 0, 1));
      }
    }
    .shade-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0) 50%);
    }
  }
  .active {
    opacity: 1;
  }
}
